.app {
  background: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mapLoadingContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  color: white;
}

.reactivateButton {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  z-index: 1000;
}

.dialog {
  z-index: 1000;
}
